
      <div class="col-sm-3 col-md-6">
        <div class="thumbnail">
          <h4><a href="#" class="hb-buttons thumbnail-images contextDisplay" data-trigger="focus" data-toggle="popover" title="Image Properties" data-html="true"></a></h4>
          <img src="{{pet.url}}" onerror=this.src="https://t4.ftcdn.net/jpg/01/80/09/95/240_F_180099575_xy59UxoDEfNH34iELATEVbrGvACCop7b.jpg">
        </div>
      </div>
      <div class="grid col-sm-3 col-md-6">
        <h2>{{pet.name}}</h2>
         {{#if pet.breed}}
          <p><b>Breed:</b>  {{pet.breed}}</p>
          {{else}}
          <p><b>Breed:</b> Not Available</p>
         {{/if}}


         {{#if pet.license_number}}
            <p><b>License Number:</b>  {{pet.license_number}}</p>
          {{else}}
            <p><b>License Number:</b> Not Available</p>
         {{/if}}

         {{#if pet.insurance_info}}
            <p><b>Insurance Info:</b>  {{pet.insurance_info}}</p>
          {{else}}
            <p><b>Insurance Info:</b> Not Available</p>
         {{/if}}

         {{#if pet.vet}}
          <p><b>Vet:</b>  {{pet.vet}}</p>
         {{else}}
           <p><b>Vet:</b> Not Available</p>
         {{/if}}


      </div>
