
      <div class="col-sm-3 col-md-6">
        <div class="thumbnail">
          <h4><a href="#" class="hb-buttons thumbnail-images contextDisplay" data-trigger="focus" data-toggle="popover" title="Image Properties" data-html="true"></a></h4>
          <img src="https://i.imgur.com/aeeQgDv.jpg" onerror=this.src="https://i.imgur.com/TZljVDd.jpg">
        </div>
      </div>
      <div class="grid col-sm-3 col-md-6">
        <h2>{{pet.name}}</h2>
        <p>Breed:  {{pet.breed}}</p>
        <p>License Number:  {{pet.license_number}}</p>
        <p>Insurance Info:  {{pet.insurance_info}}</p>
        <p>Vet:  {{pet.vet}}</p>
      </div>
